/*==================mise en forme===========*/
body{
	background-color: #FAFAFA;
}
header{
	border: 1px solid #80CBC4;
	background-color: #80CBC4;
	text-align: center;
	color: #FFA000;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 3em;
	margin-top: 5%;
}
article{
	margin-bottom: 10%;
}
h1{
	text-align: center;
	margin-bottom: 5%;
	color: #1A237E;
	font-size: 5em;
}
h2{
	color: #3949AB;
}
p{
	color: #7986CB;
}
.grid{
	font-size: 1.5em;
	margin-left: 15%;
}
.titre1:after, .titre2:after, .titre3:after{
    content: '';
    display: block;
    margin: 1%;
    height: 1%;
    width: 0;
	background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.titre1:hover:after, .titre2:hover:after, .titre3:hover:after {
    width: 90%;
    background: #444;
    }
footer{
	border: 1px solid #80CBC4;
	background-color: #80CBC4;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
	font-size: 1.5em;
}
#mention a{ 
color: #FFA000;
}
#contacte a{
	color:#FFA000;
}
.page:hover, .mail:hover, .bouton:hover{
	animation: thing 3s infinite;
}
@keyframes thing{
	0%{transform: rotate(0deg);}
	30%{transform: rotate(-10deg);}
	40%{transform: rotate(10deg);}
	50%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}
/*=================grille================*/
.grid{
	display: grid;
	grid-template-columns: 10% 50% 20%;
	grid-template-rows: auto;
} 
.titre1{
	grid-column-start: 2;
	grid-row-start: 1;
}
.entree{
	grid-column-start: 2;
	grid-row-start: 2;
}
.prix1{
	grid-column-start: 3;
	grid-row-start: 2;
}
.titre2{
	grid-column-start: 2;
	grid-row-start: 6;
}
.plat{
	grid-column-start: 2;
	grid-row-start: 7;
}
.prix2{
	grid-column-start: 3;
	grid-row-start: 7;
}
.titre3{
	grid-column-start: 2;
	grid-row-start: 10;
}
.dessert{
	grid-column-start: 2;
	grid-row-start: 11;
}
.prix3{
	grid-column-start: 3;
	grid-row-start: 11;
}
.grid2{
	display: grid;
	grid-template-columns: 30% 30% 30%;
}