/*===============================mise en forme du site=================*/
header{
	border: 1px solid #80CBC4;
	background-color: #80CBC4;
	text-align: center;
	color: #FFA000;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 3em;
	margin-top: 5%;
}
img{
	width: 90%;
	height: 100%;
}
#mention{
	color: red;
}

#cadre{
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
	margin-bottom: 10%;
	font-size: 3em;
	margin-top: 5%;
}

#cadre span{
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
	background-color: #80CBC4;
	color: #FFA000;
	width: 60%;
}

footer{
	border: 1px solid #80CBC4;
	background-color: #80CBC4;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
	margin-bottom: 10px;
	font-size: 30px;
}





article{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	width: 600px;
	height: 500px;
	overflow: hidden;
	padding: 2px;
	
}


article:hover{
	opacity: .5;
		transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}

.page:hover{
	animation: thing 3s infinite;
	
}

.mail:hover{
	animation: thing 3s infinite;
	color: #FFA000;
}
@keyframes thing{
	0%{transform: rotate(0deg);}
	30%{transform: rotate(-10deg);}
	40%{transform: rotate(10deg);}
	50%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}



#cadre span:after{
 	animation: chargement steps(1,end) 1s infinite;
 	content: '';
 }

@keyframes chargement{
	 0%   { content: ''; }
  25%  { content: '.';
  		opacity: 0.25; }
  50%  { content: '..'; 
		opacity: 0.75;}
  75%  { content: '...'; 
		opacity: 1;}
  100% { content: ''; }
}

/*=======================================systeme de grille====================*/
/*pour les menus*/
.grid{
	display: grid;
	grid-template-columns: 5% 40% 40%;
	grid-gap: 5%;
}

.enchante{
	grid-column-start: 2;
	grid-column-end: 3;
}
.delice{
	grid-column-start: 2;
	grid-column-end: 3;
}
/*pour le footer*/
.grid2{
	display: grid;
	grid-template-columns: 50% 50%;
}